.userTable{
    margin-top: 50px;
}
.addButton{
    text-decoration: none;
    background-color: blueviolet;
    color: azure;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    padding: 10px;
}
.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
.userTable table thead th{
    background-color: rgb(39, 96, 77);
    color: beige;
    padding: 10px;

}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
}
.noData{
    text-align: center;
    color: green;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.actionButton button{
    border: 0;
    outline: none;
    background: rgb(201, 34, 34);
    padding: 6px 10px;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
}
.actionButton a{
    background: rgb(35, 124, 23);
    padding: 6px 8px;
    color: wheat;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 8px;
}
